<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>학생관리</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
                <!-- 아이콘 15도 회전 -->
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <!-- 사이드바 제목 -->
                <div class="sidebar-brand-text mx-3">학생관리시스템</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0" style="margin-bottom: 10px">

            <!-- 프로필 사진 -->
            <img class="rounded-circle" style="background-color: white ; padding: -5px ; margin: 5px" src="img/undraw_female_avatar_re_l6cx.svg">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
                <!-- 선생님 이름은 DB에서 받아오는 걸로 -->
                <div class="sidebar-brand-text mx-3">이나은 선생님</div>
            </a>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index">
                    <!-- 아이콘 -->
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>메인페이지</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <!--            <div class="sidebar-heading">-->
            <!--                학급관리-->
            <!--            </div>-->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>학급관리</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">학급관리</h6>
                        <a class="collapse-item" href="check">출석체크</a>
                        <a class="collapse-item" href="class_stuManage">학생관리</a>
                        <a class="collapse-item" href="class_seat">자리배치도</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>교과목 관리</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">교과목 관리</h6>
                        <a class="collapse-item" href="subject_seat">과목시간표</a>
                        <!--<a class="collapse-item" href="utilities-border">과목관리</a>-->
                        <a class="collapse-item" href="subject_stuManage">학생관리</a>
                    </div>
                </div>
            </li>

            <!--        &lt;!&ndash; Divider &ndash;&gt;-->
            <!--        <hr class="sidebar-divider">-->


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="img/undraw_graduation_re_gthn.svg" alt="...">
                <a class="btn btn-info btn-sm" href="http://www.dge.go.kr/main/main.do" target="_blank" style="margin-bottom: 20px; margin-top: 20px">교육청 바로가기</a>
                <a class="btn btn-info btn-sm" href="https://www.neis.go.kr/pas_mms_nv99_001.do" target="_blank" style="margin-bottom: 20px">나이스 바로가기</a>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div>
                                <img class="img-fluid"
                                     src="img/undraw_graduation_re_gthn.svg" alt="...">
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    알림 메세지
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">공지사항 게시판 내용 업데이트</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 8, 2019</div>
                                        <span class="font-weight-bold">시간표 알림</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        <span class="font-weight-bold">메신저 알림</span>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">3</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    메세지
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">안녕하세요! 2-3 담임선생님 학생출석 관련 ..</div>
                                        <div class="small text-gray-500">교감 선생님 58초전</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">안녕하세요! 2-3 담임선생님 벌점 관련 ..</div>
                                        <div class="small text-gray-500">교장 선생님 60초전</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                             alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">안녕하세요! 2-3 담임선생님 학생수업 관련 ..</div>
                                        <div class="small text-gray-500">교감 선생님 1분전</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                    </div>
                                    <div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">이나은 선생님</span>
                                <img class="img-profile rounded-circle" style="border: 1.5px solid gray"
                                     src="img/undraw_female_avatar_re_l6cx.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    프로필
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    설정
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    활동
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    로그아웃
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->


                <!-- Page Heading -->
                <div id="stuManage-wrapper" style="display: inline-flex">
                    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="substu_Sidebar">

                        <!-- Sidebar - Brand -->
                        <a class="sidebar-brand d-flex align-items-center justify-content-center">
                            <!-- 사이드바 제목 -->
                            <div class="sidebar-brand-text mx-3">교과목학생관리</div>
                        </a>

                        <!-- Divider -->
                        <hr class="sidebar-divider">

                        <!-- Heading -->
                        <div class="sidebar-heading">
                            수업선택
                        </div>

                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#subTitle"
                               aria-expanded="true" aria-controls="subTitle">
                                <span>수학1</span>
                            </a>
                            <div id="subTitle" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <h6 class="collapse-header">반 선택</h6>
                                    <a class="collapse-item" href="subject_stuManage2_1">2-1</a>
                                    <a class="collapse-item" href="subject_stuManage2_3">2-3</a>
                                </div>
                            </div>
                        </li>

                        <!-- Divider -->
                        <hr class="sidebar-divider">

                        <!-- Nav Item - Utilities Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#subTitleTwo"
                               aria-expanded="true" aria-controls="collapseUtilities">
                                <span>미적분</span>
                            </a>
                            <div id="subTitleTwo" class="collapse" aria-labelledby="headingUtilities"
                                 data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <h6 class="collapse-header">반 선택</h6>
                                    <a class="collapse-item" href="subject_stuManage3_1">3-1</a>
                                    <a class="collapse-item" href="subject_stuManage3_5">3-5</a>
                                </div>
                            </div>
                        </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider">


                    <!-- Divider -->
<!--                    <hr class="sidebar-divider d-none d-md-block">-->
                    </ul>
                    <!-- Begin Page Content -->
                    <div style="width: 2000px; margin-left: 48px">

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">3-5반 학생 목록</h6>
                            </div>
                            <div class="card-body">
                                <a href="#" class="btn btn-success btn-icon-split" style="margin-bottom: 20px; margin-top: 15px; float: right" data-toggle="modal" data-target="#uploadModal">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    <span class="text">등록</span>
                                </a>
                                <a href="#" class="btn btn-secondary btn-icon-split" style="margin-right: 20px; margin-bottom: 20px; margin-top: 15px; float: right">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                    <span class="text">수정</span>
                                </a>
                                <div class="table-responsive">

                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                        <thead style="text-align:center; margin:auto ;">

                                        <tr>
                                            <th style="width: 6%; height:20px">학생번호</th>
                                            <th>이름</th>
                                            <th style="width: 10%; height:20px">발표 점수(10점 만점)</th>
                                            <th style="width: 10%; height:20px">수행 평가 점수</th>
                                            <th style="width: 10%; height:20px">중간 고사 점수</th>
                                            <th style="width: 10%; height:20px">기말 고사 점수</th>
                                            <th style="width: 6%; height:20px">상벌점</th>
                                            <th>생기부 내용</th>
                                        </tr>
                                        </thead>

                                        <tbody style="text-align:center; margin:auto ;">
                                        <tr>
                                            <td>1</td>
                                            <td>김김김</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>김이박</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>김조조</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>라라랜</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>라랄라</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>마동석</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>박박박</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>박이최</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>박이이</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>박치치</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>박채채</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>박티티</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>박희희</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>송아지</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td>송지지</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>16</td>
                                            <td>송채채</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>17</td>
                                            <td>이김말</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>18</td>
                                            <td>이나리</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>19</td>
                                            <td>이바보</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        <tr>
                                            <td>20</td>
                                            <td>최고야</td>
                                            <td>9</td>
                                            <td>80</td>
                                            <td>79</td>
                                            <td>84</td>
                                            <td>3</td>
                                            <td>성실한 학생으로 모범이 됨.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End of Sidebar -->
                </div>

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- upload Modal-->
    <div class="modal fade" id="uploadModal" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">성적 등록</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>학생 : </label>
                    <select id = "name">
                        <option selected disabled>학생을 선택해주세요.</option>
                        <option>김김김</option>
                        <option>김이박</option>
                        <option>김조조</option>
                    </select>
                    <br>
                    <label>발표 점수 : </label>
                    <input type="number" min="0" max="10">
                    <br>
                    <label>수행 평가 점수</label>
                    <input type="number" min="0" max="100">
                    <br>
                    <label>중간 고사 점수</label>
                    <input type="number" min="0" max="100">
                    <br>
                    <label>기말 고사 점수</label>
                    <input type="number" min="0" max="100">
                    <br>
                    <label>상벌점 : </label>
                    <input type="number" min="-3" max="3" value="0">
                    <br>
                    <label>생활기록부</label><br>
                    <textarea cols=50 rows=10 placeholder="내용을 입력해주세요."></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <a class="btn btn-primary" href="subject_stuManage3_5">등록</a>
                </div>
            </div>
        </div>
    </div>

    <!— Bootstrap core JavaScript—>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!— Core plugin JavaScript—>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!— Custom scripts for all pages—>
    <script src="js/sb-admin-2.min.js"></script>

    <!— Page level plugins —>
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!— Page level custom scripts —>
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

    <!--<script src="vendor/datatables/jquery.dataTables.min.js"></script>-->
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="js/demo/datatables-demo.js"></script>
</body>
</html>